html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Montserrat", sans-serif;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: unset !important; /* Elimina cualquier valor establecido */
    }
}



/* ---------  Navbar - Navegación ---------- */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    background-color: #F1F0F0; /* Color de fondo gris claro */
}

/* Logo */
.logo-img {
    width: 10%; /* Tamaño del logo */
}

/* Texto azul marino para SeaAngel con tamaño grande */
.text-navy {
    color: #003366; /* Azul marino */
    font-weight: bold;
    font-size: 1.5rem; /* Título más grande */
}

/* Texto dorado oscuro para Company Cruises */
.text-dark-gold {
    color: #B88A46; /* Dorado oscuro */
    font-weight: bold;
}

/* Para que Company y Cruises sean más pequeños */
.small {
    font-size: 0.90rem; /* Tamaño más pequeño */
}

/* Ajuste de tamaño para el enlace "Inicio" */
.navbar-nav .nav-link {
    color: #003366 !important; /* Azul marino */
    font-weight: bold;
    font-size: 1.0rem; /* Un tamaño más grande para "Inicio" */
    transition: color 0.3s, font-size 0.3s;
}

    /* Cambio de color al pasar el ratón sobre el enlace */
    .navbar-nav .nav-link:hover {
        font-size: 1.1rem; /* Un poco más grande cuando pasas el ratón */
        color: #B88A46 !important; /* Dorado oscuro al pasar el mouse */
    }

/* Subrayado animado dorado oscuro */
.itemPag::after {
    content: "";
    height: 3px;
    width: 0;
    background-color: #B88A46;
    display: block;
    transition: width 300ms;
}

.itemPag:hover::after {
    width: 100%;
}

/* ---------- Estilo del carrusel ---------- */

#carouselE {
    width: 100vw !important; /* 100% del ancho de la pantalla */
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.carousel-inner img {
    width: 100% !important; /* Hace que la imagen cubra todo el ancho */
    height: 60vh !important; /* Ajusta la altura */
    object-fit: cover !important; /* Evita deformaciones */
    filter: brightness(30%) !important; /* Hace la imagen más oscura */
}

/* Ajusta la posición de los textos dentro del carrusel */
.carousel-caption {
    bottom: 15% !important; /* Baja la posición del texto */
}

.btn {
    color: white;
    font-size: 16px;
    background-color: #003366; /* Azul rey oscuro */
    color: white;
    border: none;
}

.btn:hover {
    background-color: #B88A46; /* Azul más oscuro para hover */
    box-shadow: 0 0 10px rgba(0, 51, 102, 0.6); /* Sombra azul */
}

.carousel-caption {
    margin-bottom: 70px;
}

/* ---------- Estilo de la pagina de barcos ---------- */

.services {
    padding: 80px 0;
}

    .services .card {
        max-height: 175px; /* Asegura que todas tengan una altura mínima */
        min-height: 175px; /* Asegura que todas tengan una altura mínima */
    }

.bg-barco1 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Images/bg-barco1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-barco2 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Images/bg-barco2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-barco3 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Images/bg-barco3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.barcos {
    padding: 2px 0;
    position: relative;
}
    .barcos .row {
        margin-top: 30px;
    }

.barco .card {
    max-height: 90%; /* Asegura que todas tengan una altura mínima */
    min-height: 90%; /* Asegura que todas tengan una altura mínima */
}

.parrafo-barco {
    font-size: 15px;
}

/* Colores azul rey oscuro */
.text-blue-dark {
    color: #003366; /* Azul rey oscuro */
}

.btn-blue-dark {
    background-color: #003366; /* Azul rey oscuro */
    color: white;
    border: none;
}

    .btn-blue-dark:hover {
        background-color: #B88A46; /* Azul más oscuro para hover */
        box-shadow: 0 0 10px rgba(0, 51, 102, 0.6); /* Sombra azul */
    }

/* Animaciones con hover */
.hover-animate {
    transition: transform 0.3s ease-in-out;
}

    .hover-animate:hover {
        transform: translateY(-10px);
    }

/* Bordes redondeados en las imágenes */
.card img {
    width: 250px;
    height: 150px;
    border-radius: 15px;
}

/* Línea decorativa azul rey oscuro */
.linea-decorativa {
    width: 400px; /* Ajusta el ancho según prefieras */
    height: 2px;
    background: #003366; /* Azul rey oscuro */
    border-radius: 2px;
    margin-top: 10px; /* Espaciado debajo del título */
}

/* Añadir borde azul rey oscuro en las tarjetas al hacer hover */
.card:hover {
    border: 2px solid #B88A46; /* Azul rey oscuro */
}

.detalleBarco-container{
    margin-top: 100px !important;
}